button{
    height: 2.2rem;
    width: 6rem;
    margin: 0.8rem 2rem 0.7rem 1.5rem;
    background-color: rgb(220, 220, 220);
    border-radius: 1rem;
}

button:hover{
    background-color: white;
}

nav{
    background-color: aliceblue;
}